@font-face {
    font-family: "Bodoni MT";
    src: url(../fonts/BodoniModa-VariableFont_opsz\,wght.ttf) format("truetype");
}

header,
footer {
    background-color: #010D26;
    color: #fff;
}

header {
    display: flex;
    align-items: center;
}

footer {
    text-align: center;
}

header a {
    color: #fff;
    padding: 20px;
}

nav ul {
    padding: 0px;
}

nav li {
    display: inline-block;
}

.products,
.product_catagories {
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
}

.products img,
.product_catagories img {
    margin: auto;
}

.products h3 {
    font-family: "Bodoni MT", Verdana, Geneva, Tahoma, sans-serif;
    color: #010D26;
    font-size: 1.5em;
    margin: 0%;
}


/* Links */

.homebutton {
    font-size: 35px;
}

a {
    text-decoration: none;
}

.active {
    text-decoration: underline;
}



/*Front page */

.welcome {
    background-image: url(../IMAGES/background_img.jpg);
    position: relative;
    height: 400px;
    background-repeat: no-repeat;
}

.welcome_content {
    position:absolute;
    top: 100px;
    left: 645px;
    font-size: 2.5em;
}

h2,
h4,
.view_all_cta {
    text-align: center;
    margin: 0px;
}

.products_frontpage {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    max-width: 1200px;
    margin: 50px auto;
    grid-gap: 30px;
}

.products_frontpage h2,
.view_all_cta,
h4 {
    grid-column: -1/1;
}

.view_catagories {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    max-width: 1200px;
    margin: 50px auto;
    grid-gap: 30px;
    text-align: center;
}

.product_catagories {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.product_catagories img {
    width: 100%;
}

.img_text {
    position: absolute;
    font-size: 36px;
}
